* { box-sizing: border-box;
 color:#59f;
  }
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }
    #languages {
        display:flex;
     justify-content: center; 
        width:40vw; 
     margin-top:200px; 
    }
    #languages button {
        display:inline;
        padding:10px 20px;
        font-weight:bold;
        font-size:20px;
        margin: 10px 20px;
    }
    .box {
      background: white;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 0 10px #ccc;
      margin: 5px auto;
      height: 40vh; 
      width: 90vw;
    }
    input, button {
      padding: 10px;
      margin: 20px 0;
      width: 100%;
      font-size: 16px;
      border: 1px solid #06f;
        border-radius: 10px;
    }
    input:focus {
        outline-style:none;
    }
    button {
        background-color:#59f;
        color:white;
        margin: 0 0 20px;
    }
    label { font-weight: bold; }
    p {
      word-break: break-word;
      background-color: #fff;
      padding: 0 10px;
      line-height: 1.8;
      border-radius: 8px;
      direction: ltr;
    }
.warning {
    color: red;
}
